.footer{
    background-color: rgb(25, 92, 173);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    
}
.footer a{
        color: aliceblue;
}

.footer label{
    color: aliceblue;
}