.headerstyle {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
 .headerstyle h1,a{
    margin-left: 20px;
    color: rgb(25, 92, 173);
}


.headerstyle a{
    margin-left: 20px;
}
.headstlscrl{ 
    animation : scroll 20s linear infinite ;

}

